<div *ngFor="let item of history; let index = index; let count = count">
    <mat-card
      #card [class]="getCardClass(item)"
      [style.opacity]="index / (count + 1)">
      <p class="mat-body-2">{{histItemToString(item)}}</p>
    </mat-card>
  <div class=vertpad></div>
</div>

<mat-divider></mat-divider>
<div class=vertpad></div>

<div id="submit-form">
   <mat-form-field >
     <mat-label>Send a Command</mat-label>
     <input matInput
       [(ngModel)]="command"
       (keyup.enter)="submit()">
   </mat-form-field>
  <button mat-flat-button
    color="primary"
    (click)="submit()"
    [disabled]="!commandIsValid()">Submit</button>
</div>

<mat-progress-spinner
  *ngIf="waiting"
  color="accent"
  mode="indeterminate"></mat-progress-spinner>
