<div class=vertpad></div>
<cdk-virtual-scroll-viewport #viewport [itemSize]=20>
  <div *cdkVirtualFor="let item of history">
      <mat-card #card [class]="getCardClass(item)">
        <p class="mat-body-2">{{histItemToString(item)}}</p>
      </mat-card>
    <div class=vertpad></div>
  </div>
</cdk-virtual-scroll-viewport>

<mat-divider></mat-divider>
<div class=vertpad></div>

<div id="submit-form">
   <mat-form-field >
     <mat-label>Send a Command</mat-label>
     <input matInput
       [(ngModel)]="command"
       (keyup.enter)="submit()">
   </mat-form-field>
  <button mat-flat-button
    color="primary"
    (click)="submit()"
    [disabled]="!commandIsValid()">Submit</button>
  <mat-progress-spinner
    *ngIf="waiting"
    color="accent"
    mode="indeterminate"></mat-progress-spinner>

</div>
