<div class=vertpad></div>
<h1 class="mat-display-2">Lets Play Zork!</h1>
<p>
  Below is a shared instance of the text adventure "Zork." Anyone on earth can
  send moves by writing into the "Send a Command" box at the bottom of the
  page. This page will automatically refresh and moves are first-come
  first-serve. The game will restart if our character dies.
</p>
<mat-tab-group>
  <mat-tab label="Game"><app-game></app-game></mat-tab>
  <mat-tab label="Help"><app-help></app-help></mat-tab>
</mat-tab-group>

